/* general css */
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: serif;
  overflow: hidden;
}
.font-24 {
  font-size: 24px;
}
.font-18 {
  font-size: 18px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px;
}
.color-pink {
  color: rgb(202, 135, 146);
}
.color-badge {
  color: rgb(214, 187, 146);
}
.height-100 {
  height: 100vh;
}
.height-90 {
  height: 90vh;
}
.height-80 {
  height: 80vh;
}
.height-60 {
  height: 60vh;
}
.height-50 {
  height: 50vh;
}
.width-100 {
  height: 100%;
}
.width-90 {
  height: 90%;
}
.width-80 {
  height: 80%;
}
.width-60 {
  height: 60%;
}
.width-50 {
  height: 50%;
}
/* landing page style */

.cont1 {
  background-image: url("../assets/images/city2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
.cont1-inner {
  background: rgba(0, 0, 0, 0.6);
  height: 90vh;
  width: 100%;
  
}
.navbar-brand {
  list-style-type: none;
  text-decoration: none;
  color: blanchedalmond;
  font-weight: bold;
  font-size: 250%;
}
.cont2{
  height: 70vh;
}
/* about my area */


